

        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-7 col-lg-offset-3">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="forms.html">Forms</a></li>
                <li role="presentation"><a href="form-fields.html">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th><span class="caret"></span> Form Name</th>
                        <th><span class="caret"></span> Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" placeholder="Form Name"></td>
                        <td class="text-nowrap"><a class="btn btn-primary btn-md" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                            <a class="btn btn-success btn-md" href="#" role="button"><span class="glyphicon glyphicon-ok"></span></a>
                        </td>

                    </tr>
                    <tr>
                        <td><a href="">Registration</a></td>
                        <td class="text-nowrap">
                            <a class="btn btn-info btn-md" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-md" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Contact List</a></td>
                        <td class="text-nowrap">
                            <a class="btn btn-info btn-md" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-md" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">To Do List</a></td>
                        <td class="text-nowrap">
                            <a class="btn btn-info btn-md" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-md" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
