<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-7 col-lg-offset-3">
    <div class="tab-pane fade in active">
    <h1 class="page-header">Fields</h1>
        <br>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: $location.path() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li role="presentation" ng-class="{active: vm.formId }">
            <a href="">Fields</a></li>
    </ul>
        <div class="table-responsive table-no-border th table-no-border td">
            <table class="table ">
                <tbody>
                <tr ng-repeat="field in vm.fields">

                    <td>

                        <!--TEXT-->
                        <div class="form-group" ng-if="field.type=='TEXT'">
                            <label for="TEXT">{{field.label}}:</label>
                            <input id="TEXT" class="form-control input-sm"  placeholder="{{field.placeholder}}" type="text">
                        </div>

                        <!--TEXTAREA-->
                        <div class="form-group" ng-if="field.type=='TEXTAREA'">
                            <label for="TEXTAREA">{{field.label}}:</label>
                            <textarea cols="40"  class="form-control input-sm" id="TEXTAREA"
                                      placeholder="{{field.placeholder}}" rows="8"></textarea>
                        </div>
                        <!--DATE-->
                        <div class="form-group" ng-if="field.type=='DATE'">
                        <label for="DATE">{{field.label}}:</label>
                        <input id="DATE" class="form-control input-sm"  placeholder="{{field.placeholder}}" type="date">
                        </div>
                        <!--EMAIL-->
                        <div class="form-group" ng-if="field.type=='EMAIL'">
                            <label for="EMAIL">{{field.label}}:</label>
                            <input id="EMAIL" class="form-control input-sm"  placeholder="{{field.placeholder}}" type="email">
                        </div>

                        <!--OPTIONS-->
                        <div class="form-group" ng-if="field.type=='OPTIONS'">
                            <label for="OPTIONS">{{field.label}}:</label>
                            <select class="form-control"  id="OPTIONS">
                                <option ng-repeat="option in field.options" value="{{option.value}}" label="{{option.value}}">
                                </option>
                            </select>
                        </div>

                        <!--CHECKBOXES-->
                    <div class="form-group" ng-if="field.type=='CHECKBOXES'">
                        <label for="CHECKBOXES">{{field.label}}:</label>
                        <div class="checkbox" ng-repeat="option in field.options" id="CHECKBOXES">
                            <label><input type="checkbox" value="{{option.value}}">{{option.label}}</label>
                        </div>
                    </div>

                    <!--RADIO-->
                    <div class="form-group" ng-if="field.type=='RADIOS'">
                        <label for="RADIOS">{{field.label}}:</label>
                        <div class="radio" ng-repeat="option in field.options" id="RADIOS">
                            <label><input type="radio" value="{{option.value}}">{{option.label}}</label>
                        </div>
                    </div>

                    </td>
                    <td class="text-nowrap text-right">
                        <a class="btn btn-info btn-sm" href="" role="button">
                            <span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-warning btn-sm" href="" role="button" >
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger btn-sm" href="" role="button" ng-click="vm.deleteField(field._id)">
                            <span class="glyphicon glyphicon-remove"></span></a>
                    </td>

                </tr>

                </tbody>
            </table>

            <div class="table-responsive table-no-border th table-no-border td">
                <table class="table ">
                    <tbody>
            <tr>
                <hr>

                <td>
                    <label for="DROPDOWN">Add New Field</label>
                    <div class="form-group" id="DROPDOWN">
                        <select class="form-control" ng-model="vm.field.type">
                            <option ng-value="TEXT" selected="selected">TEXT</option>
                            <option ng-value="TEXTAREA">TEXTAREA</option>
                            <option ng-value="RADIOS">RADIOS</option>
                            <option ng-value="CHECKBOXES">CHECKBOXES</option>
                            <option ng-value="OPTIONS">OPTIONS</option>
                            <option ng-value="DATE">DATE</option>
                        </select>
                    </div>
                </td>

                <td class="text-nowrap text-right">
                    <a class="btn btn-primary btn-sm" href="" role="button" ng-click="vm.addField(vm.field)">
                        <span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
                    </tbody>
                    </table>

        </div>
    </div>
</div>










<!--


<td>{{field.label}}</td>
<td>{{field.type}}</td>
<td>{{field._id}}</td>


-->





