<div class="home col-xs-12">
<h2 class="page-header"> Events Around Your Area</h2>
<div ng-repeat="event in events" ng-class="{'selected':$index == selectedRow}">

    <div class="mdl-card mdl-cell mdl-shadow--8dp col-lg-4 col-xs-12 col-sm-12 col-md-12">
        <div class="event-card-media mdl-card__media">
            <img  class="img-responsive" ng-src="{{event.logo.url}}">
        </div>
        <div class="event-card-supporting-text mdl-card__supporting-text">
          <!--  <img class=" img-thumbnail img-rounded " width="750" height="100"
                 border="0" alt="" ng-src="{{event.logo.url}}">-->
            <h7 class="text-muted"> {{event.name.text}} </h7>
        </div>
       <!-- <div class="mdl-card__supporting-text">
            <p class="event-para">
                {{event.description.text}}

            </p>
        </div>-->
        <div class="mdl-card__actions">

            <button class="mdl-button mdl-js-button mdl-button--raised ">
                <a ng-click="vm.details(event.description.html)">Details</a>
            </button>

        </div>
    </div>
    </div>


    <!-- MDL Spinner Component -->
    <div  ng-show="loading">
        <img class="centered" src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif">
</div>
</div>