
<!--
    <div class="hidden-xs col-sm-3" ng-show="events">
        <a href="" ng-click="vm.searchbycat('music')">
            <div class="tooltip-wrap">
                <img src="../../../../images/music_event.jpg"  class="img-responsive img-rounded"
                     alt="" height="150" width="300"/>
                <div class="tooltip-content">
                    <p class="text-center tex">Click to Search<br>
                      Music Events around you </p>
                </div>
            </div>
        </a>

        <br><br>
        <a href="" ng-click="vm.searchbycat('networking')">
            <div class="tooltip-wrap">
                <img src="../../../../images/networking_event.jpg"  class="img-responsive img-rounded"
                     alt="" height="150" width="300"/>
                <div class="tooltip-content">
                    <p class="text-center tex">Click to Search<br>
                        Networking Events around you </p>
                </div>
            </div>
        </a>
        <br>
    </div>

       -->
<div class="col-sm-8 " ng-show="events">

            <!--<h2 class="hidden-xs font-semibold page-header text-center  text-capitalize new-font invisible"> <strong>  &#45;&#45;&#45;&#45;&#45;&#45;  </strong></h2>-->
            <h3 class="font-semibold header text-center  text-capitalize new-font"> <strong>Events Around Your Area</strong></h3>

            <div class="thumbnail " >

                <a class="image_container" href="">
                    <img ng-src="{{event.logo.url}}" class="img-responsive img-rounded img-thumbnail" alt="" />
                </a>

                <div class="caption">
                    <h4>{{event.name.text}} </h4>
                    <p class="text-nowrap">
                        <a ng-click="vm.details(event.description.html,event)">
                            <button class="mdl-button mdl-js-button mdl-button--raised ">
                                Details
                            </button></a>
                        <a href="{{event.url}}">
                            <button class="mdl-button mdl-js-button mdl-button--raised ">
                                Link
                            </button></a>

                    </p>
                </div>
            </div>

            <nav class="col-sm-offset-3 col-sm-10 col-xs-offset-2 col-xs-10 " ng-show="events">
                <ul class="pagination">
                    <li>
                        <a href="" aria-label="Previous" ng-click="vm.eventdecr((count+1),vm.bottom)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-class="{'active': (count+1)==(vm.bottom) }"
                    ng-click="vm.eventchange(vm.bottom )"><a href=""> {{vm.bottom}} </a></li>

                    <li ng-class="{'active': (count+1)==(vm.bottom + 1) }"
                        ng-click="vm.eventchange((vm.bottom + 1))">
                        <a href=""> {{vm.bottom + 1}} </a></li>

                    <li ng-class="{'active': (count+1)==(vm.bottom + 2) }"
                        ng-click="vm.eventchange((vm.bottom + 2))">
                        <a href=""> {{vm.bottom + 2}} </a></li>


                    <li ng-class="{'active': (count+1)==(vm.bottom + 3) }"
                        ng-click="vm.eventchange((vm.bottom + 3))">
                        <a href=""> {{vm.bottom + 3}} </a></li>


                    <li ng-class="{'active': (count+1)==(vm.bottom + 4) }"
                        ng-click="vm.eventchange((vm.bottom + 4))">
                        <a href=""> {{vm.bottom + 4}} </a></li>


                    <li>
                        <a href="" aria-label="Next"  ng-click="vm.eventincr((count+1),(vm.bottom + 4))">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


<div class="hidden-xs col-sm-4  new-body " ng-show="events">
    <h4 class="hidden-xs font-semibold page-header text-center  text-capitalize new-font"> <strong>New Broadcasts</strong></h4>
    <div class="mygrid-wrapper-div table-responsive">

        <div ng-hide="broadcasts">
            <h5 class="hidden-xs font-semibold header text-center  text-capitalize  ">
                <strong>No New Broadcasts</strong></h5>
        </div>

        <div class="media " ng-show="broadcasts" ng-repeat="broadcast in broadcasts">
            <a class="pull-left" href="">
                 <img src="http://simpleicon.com/wp-content/uploads/account-64x64.png" alt="">
            </a>
            <div class="media-body">
                <h5 class="media-heading">{{broadcast.sender}}</h5>
                <small>{{broadcast.Date}}</small>
                <p> {{broadcast.text}}</p>
            </div>
        </div>





    </div>
</div>


        <div class="  col-xs-12"  ng-show="events">
            <h3 class="font-semibold header text-center  text-capitalize new-font"> <strong>Popular Categories</strong></h3>
            <div class="col-sm-3">
            <a href="" ng-click="vm.searchbycat('food')">
                <div class="tooltip-wrap">
                    <img src="../../../../images/FoodDrink_event.jpg"  class="img-responsive img-rounded"
                         alt="" height="150" width="300"/>
                    <div class="tooltip-content">
                        <p class="text-center tex"> Food and Drink Events around you </p>
                    </div>
                </div>
            </a>
                <br>
            </div>

            <div class="col-sm-3">
            <a href="" ng-click="vm.searchbycat('sports')">
                <div class="tooltip-wrap">
                    <img src="../../../../images/sports_event.jpg"  class="img-responsive img-rounded"
                         alt="" height="150" width="300"/>
                    <div class="tooltip-content">
                        <p class="text-center tex">Sports and Wellness Events around you </p>
                    </div>
                </div>
            </a>
                <br>
            </div>

            <div class="col-sm-3">
            <a href="" ng-click="vm.searchbycat('music')">
                <div class="tooltip-wrap">
                    <img src="../../../../images/music_event.jpg"  class="img-responsive img-rounded"
                         alt="" height="150" width="300"/>
                    <div class="tooltip-content">
                        <p class="text-center tex">Music Events around you </p>
                    </div>
                </div>
            </a>
                <br>
                </div>


            <div class="col-sm-3">
            <a href="" ng-click="vm.searchbycat('networking')">
                <div class="tooltip-wrap">
                    <img src="../../../../images/networking_event.jpg"  class="img-responsive img-rounded"
                         alt="" height="150" width="300"/>
                    <div class="tooltip-content">
                        <p class="text-center tex">Networking Events around you </p>
                    </div>
                </div>
            </a>
                <br>
                </div>
            <br>
        </div>



    <!-- MDL Spinner Component -->
    <div  ng-show="loading">
        <img class="centered" src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif">
</div>
</div>

