
<div ng-controller="HeaderController as model">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#DATA,#navbar,navbar1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>

                    <span class="glyphicon glyphicon-option-horizontal" ></span>
                </button>
                <a class="navbar-brand" href="">TaFree</a>
            </div>
            <div class="collapse navbar-collapse" id="DATA">
                <form class="navbar-form navbar-left" role="search">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="model.value"
                                   aria-describedby="search">
                                   <span class="glyphicon glyphicon-search input-group-addon" id="search"
                                         ng-click="model.search(model.value)"></span>

                        </div>


                    </div>

                </form>
                <ul class="nav navbar-nav navbar-right" ng-hide="user">
                    <li ng-class="{active: $location.path() == '/login'}"><a href="#/login">Login</a></li>
                    <li ng-class="{active: $location.path() == '/register'}"><a href="#/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user">
                    <li  ng-class="{'active': $location.url().indexOf('profile')!=-1}">
                        <a href="#/profile">{{user.username}}</a>
                    </li>
                    <li>
                        <a href="#/home" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>


